<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Code Next about Page</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1>Welcome to the Code Next about page</h1>
        <p>This is a psuedo site meant to showcase how to set up FLASK.</p>
        <p>You are currently viewing the '/' endpoint.</p>
        <p>Go to http:127.0.0.1:5000/topics to view all the topics we have covered so far!</p>
        <p>Or you can <a href="/topics">click here instead</a> 
    </body>


</html>
